<!--{hook admin_footer_start.htm}-->

<?php $db = G('db');?>
<?php $time = G('time');?>
<?php $ip = G('ip');?>
<?php $useragent = G('useragent');?>
<?php $starttime = G('starttime');?>
<?php $forumlist = G('forumlist');?>
<?php $forumarr = G('forumarr');?>
<?php $fid = G('fid');?>
<?php $conf = G('conf');?>
<?php $static_version = $conf['static_version'];?>

			<?php echo xn_debug_info();?>
		</div>
	</main>

	<!--{hook admin_footer_footer_before.htm}-->
	
	<footer class="bg-dark border-top py-4 mt-5 text-light small" id="footer">
		<div class="container">
			<div class="row">
				<div class="col">
					<!--{hook footer_footer_left_start.htm}-->
					Based on Xiuno <b><span><?php echo $conf['version'];?></span></b>
					<!--{hook footer_footer_left_end.htm}-->
				</div>
				<div class="col text-end">
					<!--{hook footer_footer_right_start.htm}-->
					Time: <b><?php echo substr(microtime(1) - $starttime, 0, 5);?></b>, SQL: <b><?php echo count($db->sqls);?></b>
					<!--{hook footer_footer_right_end.htm}-->
				</div>
			</div>
		</div>
	</footer>
	
	<!--{hook admin_footer_footer_after.htm}-->
	
	<!--[if lt IE 9]>
	<script>window.location = '<?php echo url('browser');?>';</script>
	<![endif]-->
	
	<!--{hook admin_footer_js_before.htm}-->
	
	<script src="../lang/<?php echo $conf['lang'];?>/bbs.js<?php echo $static_version;?>"></script>
	
	<!-- jQuery 3.7.x (Bootstrap 5 兼容性最佳) -->
	<script src="../view/js/jquery-3.7.1.min.js<?php echo $static_version;?>"></script>
	
	<!-- Bootstrap 5 JS Bundle (包含 Popper) -->
	<script src="../view/js/bootstrap-5.bundle.min.js"></script>
	
	<!-- Xiuno 核心 JS -->
	<script src="../view/js/xiuno.js<?php echo $static_version;?>"></script>
	<script src="../view/js/async.js<?php echo $static_version;?>"></script>
	<script src="../view/js/form.js<?php echo $static_version;?>"></script>
	
	<!-- Bootstrap 插件封装 (使用 Bootstrap 5 API) -->
	<script src="../view/js/bootstrap-plugin.js<?php echo $static_version;?>"></script>
	
	<script>
	var debug = DEBUG = <?php echo DEBUG; ?>;
	var url_rewrite_on = <?php echo $conf['url_rewrite_on'];?>;
	var fid = <?php echo $fid;?>;
	</script>
	<script src="../view/js/bbs.js<?php echo $static_version;?>"></script>
	
	<!--{hook admin_footer_js_after.htm}-->
	
</body>
</html>

<!--{hook admin_footer_end.htm}-->
