<?php include _include(ADMIN_PATH.'view/htm/header.inc.htm');?>

<!--{hook admin_index_login_start.htm}-->
					
<div class="row">
    <div class="col-lg-5 mx-auto">
        <div class="card">
            <div class="card-body">
                <h4 class="mb-4"><?php echo lang('admin_login');?></h4>
                <form action="<?php echo url('index-login');?>" method="post" id="form">
                    <div class="mb-3">
                        <label class="form-label"><?php echo lang('for_safe_input_password_again');?></label>
                    </div>
                    <div class="mb-3 input-group">
                        <span class="input-group-text"><i class="icon-lock"></i></span>
                        <input type="password" class="form-control" placeholder="<?php echo lang('password');?>" id="password" name="password" required>
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary w-100" id="submit" data-loading-text="<?php echo lang('submiting');?>..."><?php echo lang('login');?></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!--{hook admin_index_login_end.htm}-->

<?php include _include(ADMIN_PATH.'view/htm/footer.inc.htm');?>
<script src="../view/js/md5.js"></script>

<script>
var jform = $('#form');
var jsubmit = $('#submit');
var jpassword = $('#password').focus();

jform.on('submit', function() {
    // 不重置表单，保持输入的密码值
    jsubmit.prop('disabled', true).addClass('disabled');
    jsubmit.html('<span class="spinner-border spinner-border-sm" role="status"></span> ' + jsubmit.data('loading-text'));
    
    // 获取密码值并进行MD5加密
    var password = jpassword.val();
    var postdata = {
        password: $.md5(password)
    };
    
    $.xpost(jform.attr('action'), postdata, function(code, message) {
        if(code == 0) {
            jsubmit.removeClass('btn-primary').addClass('btn-success');
            jsubmit.html(message);
            setTimeout(function() {
                window.location.href = './';
            }, 1000);
        } else if(code == 'password') {
            jpassword.addClass('is-invalid');
            jpassword.next('.invalid-feedback').text(message);
            jpassword.focus();
            jsubmit.prop('disabled', false).removeClass('disabled');
            jsubmit.html(jsubmit.data('default-text') || '<?php echo lang('login');?>');
        } else {
            jsubmit.prop('disabled', false).removeClass('disabled');
            jsubmit.html(jsubmit.data('default-text') || '<?php echo lang('login');?>');
            $.alert(message);
        }
    });
    return false;
});

// 输入框状态重置
jpassword.on('input', function() {
    $(this).removeClass('is-invalid');
    $(this).next('.invalid-feedback').text('');
});


</script>

<!--{hook admin_index_login_js.htm}-->
