<?php include _include(ADMIN_PATH.'view/htm/header.inc.htm');?>

<!--{hook admin_other_cache_start.htm}-->

<div class="row">
    <div class="col-12">
        <div class="btn-group mb-3" role="group">
            <?php echo admin_tab_active($menu['other']['tab'], 'cache');?>
        </div>
        <div class="card">
            <div class="card-body">
                <form action="<?php echo url('other-cache');?>" method="post" id="form">
                    <div class="row mb-3">
                        <label class="col-sm-6 col-form-label"><?php echo lang('admin_clear_tmp');?>：</label>
                        <div class="col-sm-6">
                            <?php echo $input['clear_tmp'];?>
                        </div>
                    </div>
                    
                    <div class="row mb-3">
                        <label class="col-sm-6 col-form-label"><?php echo lang('admin_clear_cache');?>：</label>
                        <div class="col-sm-6">
                            <?php echo $input['clear_cache'];?>
                        </div>
                    </div>
                                    
                    <div class="row justify-content-center">
                        <div class="col-sm-9">
                            <button type="submit" class="btn btn-primary w-100" id="submit" data-loading-text="<?php echo lang('submiting');?>..."><?php echo lang('confirm');?></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!--{hook admin_other_cache_end.htm}-->
	
<?php include _include(ADMIN_PATH.'view/htm/footer.inc.htm');?>

<script>
var jform = $('#form');
var jsubmit = $('#submit');

jform.on('submit', function() {
    jsubmit.prop('disabled', true).addClass('disabled');
    jsubmit.html('<span class="spinner-border spinner-border-sm" role="status"></span> ' + jsubmit.data('loading-text'));
    
    var postdata = jform.serialize();
    $.xpost(jform.attr('action'), postdata, function(code, message) {
        if(code == 0) {
            $.alert(message);
            setTimeout(function() {
                jsubmit.prop('disabled', false).removeClass('disabled');
                jsubmit.html(jsubmit.data('default-text') || '<?php echo lang('confirm');?>');
            }, 1000);
        } else if(xn.is_number(code)) {
            jsubmit.prop('disabled', false).removeClass('disabled');
            jsubmit.html(jsubmit.data('default-text') || '<?php echo lang('confirm');?>');
            $.alert(message, -1, {isError: true});
        } else {
            jsubmit.prop('disabled', false).removeClass('disabled');
            jsubmit.html(jsubmit.data('default-text') || '<?php echo lang('confirm');?>');
            var jinput = jform.find('[name="'+code+'"]');
            jinput.addClass('is-invalid');
            jinput.next('.invalid-feedback').text(message);
            jinput.focus();
        }
    });

    return false;
});

// 输入框状态重置
$('input').on('change', function() {
    $(this).removeClass('is-invalid');
    $(this).next('.invalid-feedback').text('');
});

$('#nav li.nav-item-other').addClass('active');

</script>

<!--{hook admin_other_cache_js.htm}-->
