<footer class="bg-light border-top py-4 mt-5 text-muted small" id="footer">
	<div class="container">
		<div class="row">
			<div class="col">
				<!--{hook footer_footer_left_start.htm}-->
				Based on Xiuno <span><?php echo $conf['version'];?></span></b></a>
				<!--{hook footer_footer_left_end.htm}-->
			</div>
			<div class="col text-end">
				<!--{hook footer_footer_right_start.htm}-->
				Processed: <b><?php echo substr(microtime(1) - $starttime, 0, 5);?></b>, SQL: <b><?php echo count($db->sqls);?></b>
				<!--{hook footer_footer_right_end.htm}-->
			</div>
		</div>
	</div>
</footer>