<?php include _include(APP_PATH.'view/htm/header.inc.htm');?>

<div class="card">
	<div class="card-header"><?php echo lang('top_thread');?></div>
	<div class="card-body ajax-body">
		<form action="<?php echo url("mod-top");?>" method="post" id="mod_top_form">
			<div class="mb-3 row">
				<label class="col-4 col-form-label text-end"><?php echo lang('total');?>：</label>
				<div class="col-8">
					<span class="total fw-bold text-danger"></span> <?php echo lang('piece');?>
				</div>
			</div>
			<div class="mb-3 row">
				<label class="col-4 col-form-label text-end"><?php echo lang('top_range');?>：</label>
				<div class="col-8">
					<label class="form-input form-radio"><input type="radio" name="top" value="0" /><?php echo lang('top_0');?></label>　
					<label class="form-input form-radio"><input type="radio" name="top" value="1" /><?php echo lang('top_1');?></label>　
					<label class="form-input form-radio"><input type="radio" name="top" value="3" /><?php echo lang('top_3');?></label>　
				</div>
			</div>
			<div class="mb-3 row">
				<label class="col-4 col-form-label text-end"></label>
				<div class="col-8">
					<button type="submit" class="btn btn-primary" data-loading-text="<?php echo lang('submiting');?>..."><?php echo lang('confirm');?></button>
					<button type="button" class="btn btn-secondary"><?php echo lang('close');?></button>
				</div>
			</div>
		</form>
	</div>
</div>

<?php include _include(APP_PATH.'view/htm/footer.inc.htm');?>

<script ajax-eval="true">

// 接受传参
var args = args || {jmodal: null, callback: null, arg: null};
var jmodal = args.jmodal;
var callback = args.callback;
var arg = args.arg;
var jthreadlist = $(arg);
var tidarr = jthreadlist.find('input[name="modtid"]:checked').map(function() {
    return this.value;
}).get();


var jform = $('#mod_top_form');
var jsubmit = jform.find('button[type="submit"]');
var jcancel = jform.find('button[type="button"]');
var jtop = jform.find('input[name="top"]');
var jtotal = jform.find('span.total');
jtotal.text(tidarr.length);

jform.on('submit', function() {
    jform.reset();
    jsubmit.prop('disabled', true).addClass('disabled');
    jsubmit.html('<span class="spinner-border spinner-border-sm" role="status"></span> ' + jsubmit.data('loading-text'));
    
    var postdata = jform.serializeObject();
    postdata.tidarr = tidarr;
    postdata.top = jtop.filter(':checked').val();
    
    $.xpost(jform.attr('action'), postdata, function(code, message) {
        if(code == 0) {
            jsubmit.removeClass('btn-primary').addClass('btn-success');
            jsubmit.html(message);
            setTimeout(function() {
                if(jmodal) {
                    var modal = bootstrap.Modal.getInstance(jmodal[0]);
                    if(modal) {
                        modal.hide();
                    }
                }
                if(callback) callback(message);
                window.location.reload();
            }, 1000);
        } else {
            jsubmit.prop('disabled', false).removeClass('disabled');
            jsubmit.html(jsubmit.data('default-text') || '<?php echo lang('confirm');?>');
            alert(message);
        }
    });
    return false;
});

jcancel.on('click', function() {
    if(jmodal) {
        var modal = bootstrap.Modal.getInstance(jmodal[0]);
        if(modal) {
            modal.hide();
        }
    }
});

	
</script>
