<?php include _include(APP_PATH.'view/htm/header.inc.htm');?>

<div class="row">
	<div class="col-lg-6 mx-auto">
		<div class="card">
			<div class="card-header"><?php echo lang('user_resetpw');?></div>
			<!--{hook user_create_card_title.htm}-->
			<div class="card-body">
				<form action="<?php echo url('user-resetpw_complete');?>" method="post" id="form">
					<div class="mb-3 input-group">
						<span class="input-group-text"><i class="icon icon-envelope icon-fw"></i></span>
						<input type="text" class="form-control" placeholder="<?php echo lang('email');?>" name="email" id="email" value="<?php echo $email;?>" disabled>
					</div>
					<div class="mb-3 input-group">
						<span class="input-group-text"><i class="icon icon-lock icon-fw"></i></span>
						<input type="password" class="form-control" placeholder="<?php echo lang('password_new');?>" id="password" name="password">
					</div>
					<div class="mb-3 input-group">
						<span class="input-group-text"><i class="icon icon-lock icon-fw"></i></span>
						<input type="password" class="form-control" placeholder="<?php echo lang('password_new_repeat');?>" id="password2">
					</div>
					<p>
						<button type="submit" class="btn btn-primary btn-block w-100" id="submit" data-loading-text="<?php echo lang('submiting');?>..." <?php if(!$conf['user_resetpw_on']) { ?>disabled<?php } ?>><?php echo lang('next_step');?></button>
					</p>
				</form>
			</div>
		</div>
	</div>
</div>

<?php include _include(APP_PATH.'view/htm/footer.inc.htm');?>
<script src="<?php echo $conf['view_url'];?>js/md5.js"></script>

<script>
var jform = $('#form');
var jsubmit = $('#submit');
var jpassword = $('#password');
var jpassword2 = $('#password2');

jform.on('submit', function() {
    jform.reset();
    jsubmit.prop('disabled', true).addClass('disabled');
    jsubmit.html('<span class="spinner-border spinner-border-sm" role="status"></span> ' + jsubmit.data('loading-text'));
    
    var postdata = jform.serialize();
    $.xpost(jform.attr('action'), postdata, function(code, message) {
        if(code == 0) {
            jsubmit.removeClass('btn-primary').addClass('btn-success');
            jsubmit.html(message);
            setTimeout(function() {
                $.alert(message);
                setTimeout(function() {
                    window.location.href = xn.url('user-login');
                }, 1000);
            }, 500);
        } else if(xn.is_number(code)) {
            jsubmit.prop('disabled', false).removeClass('disabled');
            jsubmit.html(jsubmit.data('default-text') || '<?php echo lang('next_step');?>');
            alert(message);
        } else {
            jsubmit.prop('disabled', false).removeClass('disabled');
            jsubmit.html(jsubmit.data('default-text') || '<?php echo lang('next_step');?>');
            jform.find('[name="'+code+'"]').alert(message).focus();
        }
    });
    return false;
});
// 输入框状态重置（输入时清除错误提示）
$('input').on('input', function() {
    var el = this;
    var tip = bootstrap.Tooltip.getInstance(el);
    if(tip) tip.dispose();
    $(el).removeClass('is-invalid');
});

</script>