<?php include _include(APP_PATH.'view/htm/header.inc.htm');?>

<!--{hook user_create_start.htm}-->

<div class="row">
	<div class="col-lg-6 mx-auto">
		<!--{hook user_create_card_before.htm}-->
		<div class="card">
			<div class="card-header">
				<?php echo lang('user_create');?>
				<!--{hook user_create_title_after.htm}-->
			</div>
			<div class="card-body">
				<form action="<?php echo url('user-create');?>" method="post" id="form">
				
					<div class="mb-3 input-group">
						<span class="input-group-text"><i class="icon icon-envelope icon-fw"></i></span>
						<input type="email" class="form-control" placeholder="<?php echo lang('email');?>" name="email" id="email" required>
					</div>
					
					<!--{hook user_create_email_after.htm}-->
					
					<div class="mb-3 input-group">
						<span class="input-group-text"><i class="icon icon-user icon-fw"></i></span>
						<input type="text" class="form-control" placeholder="<?php echo lang('username');?>" name="username" id="username">
					</div>
					
					<!--{hook user_create_username_after.htm}-->
					
					<div class="d-flex">
						<div class="flex-grow-1">
							<div class="mb-3 input-group">
								<span class="input-group-text"><i class="icon icon-lock icon-fw"></i></span>
								<input type="password" class="form-control" placeholder="<?php echo lang('password');?>" name="password" id="password">
							</div>
						</div>
					</div>
					
					<!--{hook user_create_password_after.htm}-->
					
					
					<?php if($conf['user_create_email_on']) { ?>
					<div class="d-flex">
						<div class="flex-grow-1">
							<div class="mb-3 input-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="icon icon-barcode icon-fw"></i></span>
								</div>
								<input type="text" class="form-control" placeholder="<?php echo lang('verify_code');?>" name="code" id="code">
							</div>
						</div>
						<div class="align-self-center ms-1">
							<button type="submit" class="btn btn-primary btn-sm ms-3 mb-3" id="sendcode" data-loading-text="<?php echo lang('sending');?>..." action="<?php echo url('user-send_code-user_create');?>"><?php echo lang('send_verify_code');?></button>
						</div>
					</div>
					<?php } ?>
					
					
					<div class="mb-3">
						<button type="submit" class="btn btn-primary btn-block w-100" id="submit" data-loading-text="<?php echo lang('submiting');?>..." <?php if($conf['user_create_email_on']) { ?>disabled<?php } ?>><?php echo lang('next_step');?></button>
					</div>
					<!--{hook user_create_submit_after.htm}-->
					
					<div class="d-flex">
						<div>
							<!--{hook user_create_form_footer_left.htm}-->
						</div>
						<div class="flex-grow-1 text-end">
							<!--{hook user_create_form_footer_right_start.htm}-->
							<a href="<?php echo url('user-login');?>" class="text-muted"><small><?php echo lang('user_login');?></small></a>
							<?php if(!empty($conf['user_resetpw_on'])) { ?>
							<a href="<?php echo url('user-resetpw');?>" class="text-muted ms-3"><small><?php echo lang('forgot_pw');?></small></a>
							<?php } ?>
							<!--{hook user_create_form_footer_right_end.htm}-->
						</div>
					</div>
					
				</form>
			</div>
		</div>
		<!--{hook user_create_card_after.htm}-->
	</div>
</div>

<!--{hook user_create_end.htm}-->

<?php include _include(APP_PATH.'view/htm/footer.inc.htm');?>

<script src="<?php echo $conf['view_url'];?>js/md5.js"></script>

<script>
var jform = $('#form');
var jsubmit = $('#submit');
var jsend = $('#sendcode');
var referer = '<?php echo http_referer();?>';
jsend.on('click', function() {
    jform.reset();
    jsend.prop('disabled', true).addClass('disabled');
    jsend.html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> ' + jsend.data('loading-text'));
    
    var postdata = jform.serialize();
    $.xpost(jsend.attr('action'), postdata, function(code, message) {
        if(code == 0) {
            $('#code').focus();
            var t = 60;
            jsend.removeClass('btn-primary').addClass('btn-success');
            jsend.html('<?php echo lang('user_send_sucessfully');?> 60 ');
            jsubmit.prop('disabled', false).removeClass('disabled');
            
            var handler = setInterval(function() {
                t--;
                jsend.html('<?php echo lang('user_send_sucessfully');?> ' + t + ' ');
                if(t == 0) {
                    clearInterval(handler);
                    jsend.prop('disabled', false).removeClass('disabled btn-success').addClass('btn-primary');
                    jsend.html('<?php echo lang('send_verify_code');?>');
                }
            }, 1000);
        } else if(code < 0) {
            jsend.prop('disabled', false).removeClass('disabled');
            jsend.html(jsend.data('default-text') || '<?php echo lang('send_verify_code');?>');
            $.alert(message, -1);
        } else {
            jsend.prop('disabled', false).removeClass('disabled');
            jsend.html(jsend.data('default-text') || '<?php echo lang('send_verify_code');?>');
            var jinput = jform.find('[name="'+code+'"]');
            jinput.addClass('is-invalid');
            jinput.next('.invalid-feedback').text(message);
            jinput.focus();
        }
    });
    return false;
});

jform.on('submit', function() {
    var postdata = jform.serializeObject();
    jsubmit.prop('disabled', true).addClass('disabled');
    jsubmit.html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> ' + jsubmit.data('loading-text'));
    
    postdata.password = $.md5(postdata.password);
    $.xpost(jform.attr('action'), postdata, function(code, message) {
        if(code == 0) {
            jsubmit.removeClass('btn-primary').addClass('btn-success');
            jsubmit.html(message);
            setTimeout(function() {
                window.location.href = referer;
            }, 1000);
        } else if(xn.is_number(code)) {
            jsubmit.prop('disabled', false).removeClass('disabled');
            jsubmit.html(jsubmit.data('default-text') || '<?php echo lang('next_step');?>');
            alert(message);
        } else {
            jsubmit.prop('disabled', false).removeClass('disabled');
            jsubmit.html(jsubmit.data('default-text') || '<?php echo lang('next_step');?>');
            var jinput = jform.find('[name="'+code+'"]');
            jinput.addClass('is-invalid');
            jinput.next('.invalid-feedback').text(message);
            jinput.focus();
        }
    });
    return false;
});
// 输入框状态重置
$('input').on('input', function() {
    $(this).removeClass('is-invalid');
    $(this).next('.invalid-feedback').text('');
});

</script>

<!--{hook user_create_js.htm}-->